<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>idle game</title>
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body oncontextmenu="return false;">
    <div id="app">
      <md-steppers md-alternative>
        <md-step md-label="the forest">
          <progress-button time="1" cd="2" :action="gather">gather</progress-button>
          <progress-button time="5" cd="10" :action="mine" v-if="items.picaxe > 0">mine</progress-button>
          <progress-button time="5" cd="15" :action="hunt" v-if="items.spear > 0">hunt</progress-button>
          <span class="refresh" :key="refresh">{{items}}</span>
        </md-step>
        <md-step md-label="inventory" v-if="Object.keys(items).length > 0">
          <div v-for="(amnt, item) in items">
            {{item}}: {{amnt}}
          </div>
        </md-step>
        <md-step md-label="crafting" v-if="Object.keys(items).length > 0">
          <div v-for="recipe in unlockedRecipies">
            <div class="md-title">{{recipe.name}}</div>
            <div>cost</div>
            <div v-for="(amnt, item) in recipe.cost">{{item}}: {{amnt}}</div>
            <md-button @click="craft(recipe.name)" :disabled="!canAfford(recipe.name)">craft</md-button>
          </div>
        </md-step>
        <md-step md-label="the campsite" v-if="items.campfire > 0" class="campsite">
          <div class="log">
            <div class="log-box">
              <div v-for="dialogue in log" class="log-item">
                {{dialogue.dialogue}}
              </div>
            </div>
            <div class="log-choice">
              <md-button v-for="choice in log[log.length-1].choices" @click="choice.action">{{choice.choice}}</md-button>
            </div>
          </div>
          <div class="campsite-wrapper">
            <progress-button time="30" cd="10" :action="cook" :disabled="items.meat <= 0 || typeof items.meat == 'undefined'">cook</progress-button>
            <span>requires 1 meat</span>
          </div>
        </md-step>
      </md-steppers>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script src="components/progress-button.js"></script>
    <script src="script.js"></script>
  </body>
</html>
