#app{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
}

.progress-button-cooldown-bar, .progress-button-wrapper, .progress-button .md-button-content {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-button-cooldown-bar{
  transition: all .2s linear;
  height: 100%;
  background-color: black;
  z-index: -1;
  opacity: .3;
}

.progress-button-wrapper{
  width: 100%;
  height: 100%;
}

.progress-button .md-button-content{
  width: 100%;
  height: 100%;
}

.progress-button {
  border: 1px solid black;
  padding: 0px !important;
  position:
}

.progress-button .md-ripple {
  padding: 0px !important;
}

.tab {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.md-stepper-number {
  opacity: 0;
}

.md-stepper, .md-steppers-container, .md-steppers-wrapper, .md-steppers {
  width: 100vw;
  height: 100% !important;
}

.md-stepper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.refresh {
  display: none;
}
